.main-About{
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns:repeat(2 ,1fr);
    /* border: solid whitesmoke; */
    height: 100%;
    width: 100%;
}

.heading{ 
    font-weight: 10;
    margin-left: 3%;
    font-size: 600%;
    padding: 1%;
    grid-row: 1/2;
}

/* Information */
*{
    font-family: 'Source Sans 3', sans-serif;
}
.info {
    margin-top: 20%;
    font-size: 200%;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  
  .label {
    font-weight: bold; /* Make values bold */
    margin-right: 5%; 
    
  }
  
  .value {
    
    color:#e7a7f5; /* Color for values */
  }

  /* btn-styling */
  .btn {
    margin-top: 8%  ;
    margin-left: 15%;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .btn:hover {
    box-shadow: .5px .5px 150px #fd3954;
  }
  
  .type2::after {
    content: "Click!!!";
    height: 50px;
    width: 150px;
    background-color: #fd3954;
    color: whitesmoke;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type2::before {
    content: "Download CV";
    height: 50px;
    width: 150px;
    background-color: whitesmoke;
    color: #fd3954;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type2:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type2:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }

/* responsive css style */

@media(max-width: 998px){
  .main-About{
    grid-template-rows:repeat(4,1fr);
  }
  /* .info{
    grid-row: 3/4;
  } */
}