*{
    font-family: 'Source Sans 3', sans-serif;
    /* font-family: 'Source Sans 3', sans-serif;
        font-family: 'Tillana', system-ui; */

}

.Home-cointainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    /* gap: 1%;  */
  }
  

  
  .title {
    margin-top: 2%;
    width: 100%; 
    height: 100%; 
    display: grid;
    grid-template-rows:repeat(2, 1fr) ;
    font-size: 300%;
    padding: 10px;
    
  }

  .greetings{   
    grid-row: 1/2;
    color:#84b289;
  }
  
  .name{
    font-weight: 600;
    color: #84b289;
  }
  
  .Intro {
    width: 100%; 
    height: 100%; 
    color: #84b289;
    font-size: 250%;  
    padding: 10px;
  }
  
  /* Button Styleing */
  .button {
    grid-row: 3/4;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 300%;
    margin-top: 2%  ;
    margin-left: 8.5%;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .button:hover {
    box-shadow: .5px .5px 150px #6dedba;
  }
  
  .type1::after {
    content: "Contact";
    height: 50px;
    width: 150px;
    background-color: #33454d;
    color: #96c9a5;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "Start a Project";
    height: 50px;
    width: 150px;
    background-color: #5c7c66;
    color: #96c9a5;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }

  .btn-home{
    height:20vh;
  }