
.Home-cointainer {
    margin-left: 7px;
    height: 100%;
    width: 99%;  
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(2 , 1fr);
    border-radius:2%;
    /* gap: 1%;  */
  }
  

  
  .title {
    margin-top: 2%;
    width: 100%; 
    height: 100%; 
    display: grid;
    grid-template-rows:repeat(2, 1fr) ;
    font-size: 300%;
    padding: 15px;
    
  }

  .greetings{   
    grid-row: 1/2;
    color:whitesmoke;
  }
  
  .name{
    font-size: 200%;
    font-weight: 600;
    color: #fd3954;
  }
  
  .Intro{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%; 
    height: 100%; 
    color: whitesmoke;
    font-size: 250%;  
    padding: 10px;
  }
  
  /* Button Styleing */
  .button {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 300%;
    margin-left: 8%;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .button:hover {
    box-shadow: .5px .5px 150px #fd3954;
  }
  
  .type1::after {
    content: "Contact";
    height: 50px;
    width: 150px;
    background-color: #fd3954;
    color: whitesmoke ;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "Start a Project";
    height: 50px;
    width: 150px;
    background-color: whitesmoke;
    color: #fd3954;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }

  .btn-home{
    grid-column: 1/2;
    grid-row: 3/4;
    height:20vh;
  }

  /* responsive css style */

  @media(max-width: 998px){
    .Home-cointainer{
      
      grid-template-columns: ;
      grid-template-rows: ;

    }
  }