.Logo img{
    height: 80%;
    /* grid-column: 1/2; */
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* NavBar Styleing */
.main-nav {
    /* background-color: #2A3D35; */
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 5rem 1fr 2fr 1fr 5rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  }
  
  .Logo {
    display: grid;
    /* background-color: #3b5998; */
     grid-column: 2/3; 
     grid-template-columns: 1fr 2fr ;
    /* justify-content: start; */
    align-items: center;
  }
  /* Menu links */
  .menu {
    grid-column: 3/4;
  }
  
  .menu ul {
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20%;
  }
  
  .social-media {
    grid-column: 4/5;
  }
  
  .social-media ul {
    height: 10rem;
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr);
    align-items: center;
    justify-content: flex-end;
  }
  
  .social-media ul li {
    text-align: right;
  }
  
  .social-media ul li:first-child {
    grid-column: 2/3;
  }
  
  /* ----------- Grid part ends ----------------- */
  
  .Logo h2 {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    /* background: -webkit-linear-gradient(#eee, rgb(69, 57, 248)); */
    background-color: whitesmoke;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .Logo h2 span {
    font-size: 3.5rem;
  }
  
  .menu ul li {
    font-size: 1.8rem;
  }
  
  .menu ul li a {
    text-transform: capitalize;
    color:whitesmoke;
    transition: 0.5s;
  }
  .menu ul li:hover  a {
    transform-origin: left;
    color: #e7a7f5;
    text-decoration: underline;
    transition: 0.5s;
  }
  
  .social-media ul li {
    font-size: 3rem;
    padding-left: 2rem;
    align-items: center;
    color: whitesmoke;
  }
  
  .social-media .hamburger-menu {
    display: none;
  }
  
  .GitHub {
    color: whitesmoke;
  }
  
  .LinkedIn {
    color: whitesmoke;;
  }
  
  .Instagram {
    color: whitesmoke;
  }

  .Twitter {
    color: whitesmoke;
  }
  

  
  /* responsive css style  */
  @media (max-width: 1080px) {
    .main-nav {
      height: 8rem;
      grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }
  
    .Logo,
    .menu ul,
    .social-media ul {
      height: 8rem;
    }
  }
  
  /* responsive css style  */
  @media (max-width: 998px) {
    .main-nav {
      height: 7rem;
      grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
  
    .menu {
      display: none;
    }
  
    .Logo,
    .social-media ul {
      height: 7rem;
    }
  
    .mobile-menu {
      grid-column: 2/4;
      position: relative;
      z-index: 99;
    }
  
    .mobile-menu {
      background-color: white;
      height: 20rem;
      display: grid;
      grid-column: 2/5;
      align-items: center;
      padding-left: 3rem;
      transition: all 2s linear;
      transform-origin: top;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
  
    .mobile-menu ul {
      height: 20rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: start;
    }
  
    .mobile-menu ul li:first-child {
      transition-delay: 0.2s;
    }
  
    .social-media {
      grid-row: 1/2;
      grid-column: 3/5;
      justify-items: end;
      align-items: center;
      transition: all 2s linear;
    }
  
    .social-media .social-media-desktop {
      height: 0;
      display: none;
    }
  
    .social-media {
      height: 7rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .social-media .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 798px) {
    .main-nav {
      height: 6rem;
      grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }
  
    .Logo,
    .social-media ul {
      height: 6rem;
    }
  
    .social-media {
      height: 6rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .social-media .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 520px) {
    .main-nav {
      height: 6rem;
      grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }
  
    .Logo,
    .social-media ul {
      height: 6rem;
    }
  
    .Logo h2 {
      font-size: 2rem;
    }
  
    .social-media {
      height: 6rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .social-media .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  
    /* hero section  */
  }

  /* ////////////////////////////////////////// */
  .Component {
    margin-top: 1%;
    height: 100vh;
    /* border: solid lightgreen; */
    
  }
