.resume-main{
    display:grid ;
    width: 97%;
    height: 100%;
    grid-template-columns: 4rem 50% 50% 4rem;
    grid-template-rows: 20% 80%;
} 

.heading-resume{ 
    font-weight: 10;
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 400%;
    padding: 1%;
}

.edu{
    font-size: 200%;
    grid-row: 2/3;
    grid-column: 2/3;   
}
.edu2{
    font-size: 200%;
    grid-row: 2/3;
    grid-column: 3/4;   
}
/* styling  */
.vertical-timeline::before{
    top: 0;
}

.Education ,workexp {
    color: black;
}
.vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date{
    margin-left: 4%;
    font-size: 2rem;
    
}
.vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date{
    margin-right: 4%;
}
.vertical-timeline-element-icon{
 background: rgb(9, 255, 0);
}

/* #6dedba */